body {
  background-image: url("../img/letter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: bisque;
}

header {
  font-family: "Cinzel", serif;
}

main,
footer {
  font-family: "Spectral", serif;
}

ul {
  list-style-type: none;
  text-align: justify;
}

a {
  color: whitesmoke;
}

a:hover {
  color: #aa987b;
}

main {
  font-size: 1.5rem;
}

@media (max-width: 400px) {
  main {
    font-size: 0.6rem !important;
  }
}
